.jumbotron{
    font-style: italic;
    font-family: BioRhyme;
}
.about-us{
    font-family: SpaceMono;
    font-size: 18px;
}
#footer{
    background-color: black;
    color: white;
}
.service-content{
    text-align: left;
    font-family: BioRhyme;
    font-size: 18px;
}
#service-header{
    font-family: BioRhyme;
    font-size: 28px;
}
.carousel-images{
    width: 100%;
    height: 50%;
}
.about-header{
    font-family: BioRhyme;
    font-size: 28px;
}
#aboutus-header{
    font-family: BioRhyme;
    font-size: 28px;

}
.subservice-header{
    font-family: BioRhyme;
    font-size: 28px;
}
